<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>من ميلادي إلى الهجري</h1>
    <article class="hgry">
      <h3>التاريخ الميلادي</h3>
      <div class="inputt">
        <div>
          <label for="daiy">اليوم</label>
          <input type="" id="daiy" placeholder="18" />
        </div>
        <div>
          <label for="Month">الشهر</label>
          <input  id="Month" placeholder=" (8) أغسطس" />
        </div>
        <div>
          <label for="year">السنة</label>
          <input  id="year" placeholder="2024"/>
        </div>
      </div>
      <br />
      <button>تحويل</button>
    </article>
    <table>
     
       <tr>
        <td>التاريخ الهجري </td>
        <td>12-2-1446</td> 
       </tr>
       <tr>
        <td>اليوم</td>
        <td>الأحد</td>
       </tr>
    </table>
  </body>
</html>
